<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>MeetupTitle</title>
  </head>
  <body>
    <div id="app">
      <div>
        <template 
        class="radio__list"
        v-for="n in 5"
        >
          <label><input 
            type="radio" 
            name="meetupId" 
            :value="n" 
            v-model="inputValue"
            />{{n}}</label>
        </template>

        <hr />

        <h3
        >{{meetupData.title}}</h3>
      </div>
    </div>

    <script type="module" src="./script.js"></script>
  </body>
</html>
